*  {
    margin: 0;
    padding: 0;
    }
    
    body {
        background-color: #0bb2cc;
    }
    
    .container {
        max-width: 80vw;
        width: 100%;
        max-height: 70vh;
        margin: 5vh auto;
        overflow: hidden;
    }
    
    .slider-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 500%;
        height: 100%;
    }
    
    .slide-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20%;
        min-height: 60vh;
        transition: ease-in-out 0.6s;
        opacity:0;
        z-index:0;
    }
    
    .images {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        }
    
    .image1 {
        background-image:url(assets/image1.jpg); 
    }
    
    .image2 {
        background-image: url(assets/image2.jpg); 
    }
    
    .image3 {
        background-image:url(assets/image3.jpg); 
    }
    
    .image4 {
        background-image:url(assets/image4.png); 
    }
    .image5 {
        background-image: url(assets/image5.jpg); 
    }
    
    .text {
        width: 20%;
        position: fixed;
        top: 70vh;
        left: calc(100vw/2 - 25%);
        color: blanchedalmond;
        font: 22px "Comfortaa";
        transition: ease-in 0.6s;
       }
    @media screen and (max-width:800px) {
        .container {
            max-height: 50vh;
        }
        .text {
            top: 70vh;
            left: calc(100vw/2 - 10%);
            text-align: center;
        }    
    }
    
    input {
        display: none;
    }
    
    .control {
        height: 25px;
        position: fixed;
        top: 70vh;
        right: calc(100vw/2 - 25%);
        display: flex;
        justify-content: space-around;
        display: flex;
    }
    
    @media screen and (max-width:800px) {
        .control {
            top: 60vh;
            left:calc(100vw/2 - 95px);
        }
    }
    
    
    label {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 22px;
        margin: 0 15px;
        padding: 3px;
        position: relative;
    }
    
    .inner-label {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1.5px solid blanchedalmond;
        align-items: center;
    }
    .inner-label:hover {
        background-color: blanchedalmond;
        border: 1px solid blanchedalmond;
        transition: 1s;
    }
    
    #slide1:checked~.item1 {
       opacity: 1;
       z-index: 1;
    }
    
    #slide2:checked~.item1 {
        margin-left: -20%;
    }
    
    #slide2:checked~.item2 {
        opacity: 1;
        z-index: 1;
    }
    
    #slide3:checked~.item2 {
        margin-left: -40%;
    }
    #slide3:checked~.item3 {
        opacity: 1;
        z-index: 1;
    }
    
    #slide4:checked~.item3 {
        margin-left: -60%;
    }
    #slide4:checked~.item4 {
        opacity: 1;
        z-index: 1;
    }
    
    #slide5:checked~.item4 {
        margin-left: -80%;
    }
    #slide5:checked~.item5 {
        opacity: 1;
        z-index: 1;
    }
    
    #slide1:checked~.control label[for=slide1]>.inner-label,
    #slide2:checked~.control label[for=slide2]>.inner-label,
    #slide3:checked~.control label[for=slide3]>.inner-label,
    #slide4:checked~.control label[for=slide4]>.inner-label,
    #slide5:checked~.control label[for=slide5]>.inner-label {
        background-color: blanchedalmond;
    }
    